name: ci pipeline

on:
  pull_request:
    branches:
      - dev
      - main
    paths-ignore:
      - 'README.md'

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: set up jdk 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: set up gradle
        uses: gradle/actions/setup-gradle@v3

      - name: grant permission to gradlew
        run: chmod +x gradlew

      - name: test for dev
        if: github.event.pull_request.base.ref == 'dev'
        run: ./gradlew test

      - name: test for main
        if: github.event.pull_request.base.ref == 'main'
        run: ./gradlew clean build